[Desktop Entry]
Version=1.0
Type=Application
Name=MouseRecorder
Comment=Cross-platform Mouse and Keyboard Event Recorder
Exec=/home/lee/Programe/Cpp/MouseRecorder/build/src/MouseRecorder
Icon=/home/lee/Programe/Cpp/MouseRecorder/src/resources/icons/app_icon.png
Terminal=false
StartupNotify=true
Categories=Utility;
MimeType=application/x-mouserecorder;
